app-product-card {
  display: block;
  ion-card {
    border-radius: 10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }

  ion-card:hover {
    transform: scale(1.05);
  }
}
