<ion-header>
  <ion-toolbar>
    <ion-title>E-Commerce</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="'/cart'">
        <ion-icon name="cart"></ion-icon>
        <ion-badge *ngIf="cartCount > 0" color="danger">{{ cartCount }}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-category-list  (categorySelected)="filterByCategory($event)" style="display: block;" ></app-category-list>

  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="3" *ngFor="let product of products">
        <app-product-card [product]="product"></app-product-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
